/* 
$bg: #1c1c1c;
$bg-alt: #333333;
$fg: #c5c5c5;
$fg-alt: #919191;
$muted: #5a5a5a;
$accent: #cf6a4c;
$error: red;

$radius: 8px;
$transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$font-large: 14px;
$icon-size: 12px;
*/
@define-color fg #c5c5c5;
@define-color fg-alt #919191;
@define-color bg #1c1c1c;
@define-color bg-alt #333333;
@define-color accent #cf6a4c;
@define-color muted #5a5a5a;
@define-color error red;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
  font-family: Hack;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 14px;
  font-family: "Hack Nerd Font";
}

#window {
  color: @fg;
}

#box {
  border-radius: 8px;
  background: @bg;
  padding: 8px;
  border: 2px solid @accent;
}

#search {
  background: @bg-alt;
  padding: 8px;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @fg;
  opacity: 0.2;
}

#clear {
  color: @fg;
  opacity: 0.8;
}

#password,
#input,
#typeahead {
  border-radius: 2px;
}

#input {
  background: none;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @fg;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

#list {
}

child {
  padding: 8px;
  border-radius: 2px;
}

child:selected,
child:hover {
  background: alpha(@accent, 0.4);
}

#item {
}

#icon {
  margin-right: 8px;
}

#text {
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.5;
  font-size: 0.8em;
}

#activationlabel {
}

#bar {
}

.barentry {
}

.activation #activationlabel {
}

.activation #text,
.activation #icon,
.activation #search {
  opacity: 0.5;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @fg;
  background: @bg;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @bg-alt;
}
