$bg: #1c1c1c;
$bg-alt: #333333;
$fg: #c5c5c5;
$fg-alt: #919191;
$muted: #5a5a5a;
$accent: #cf6a4c;
$error: red;

$radius: 8px;
$transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$font-large: 14px;
$icon-size: 12px;
