[Unit]
Description=Walker launcher service
# order startup after WM
After=graphical-session.target

[Service]
Type=simple
# Repurpose XDG Autostart filtering
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target