window {
    margin: 0px;
    border: 2px solid #CF6A4C;
    border-radius: 5px;
    background-color: #1C1C1C;
    font-family: monospace;
    font-size: 12px;
}

#input {
    margin: 5px;
    border: 1px solid #2b2b2b;
    color: #C5C5C5;
    background-color: #2b2b2b;
}

#input image {
    color: #C5C5C5;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #1C1C1C;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1C1C1C;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #C5C5C5;
} 

#entry:selected {
    background-color: #CF6A4C;
    font-weight: normal;
}

#text:selected {
    background-color: #CF6A4C;
    font-weight: normal;
}